#---Files---
*.zip
*~
#---Directories---
/backup/*

#---PhpStorm---
*.iml
*.ipr
*.iws
.idea/
.idea_modules/
/out/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
